.about-page {
  display: flex;
  max-width: 100%;
  margin-top: 2rem;
}

.child-img {
  width: 600px;
  height: 600px;
}

.about-dets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(108, 110, 111, 0.996);
}

.farmer-img {
  width: 100%;
  height: 600px;
}
